h2 {
  text-align: center;
}
.ships {
  display: grid;
  grid-template-rows: 550px 1fr;

  .ships-area {
    display: grid;
    grid-template-columns: repeat(10, minmax(3rem, 1fr));
    ::before {
      content: "";
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
    :first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
    * {
      background: rgba(0, 0, 0, 0.1);
      border: 1px white solid;
      height: 50px;
      :hover {
        background-color: rgb(106, 136, 156);
      }
    }
    .destroyer{
        background-color: rgb(49, 70, 178);
    }

    .battleship{
        background-color: rgb(255, 0, 255);
    }
    .cruiser {
        background-color: rgb(236, 221, 221);
    }
    .submarine {
        background-color: rgb(255, 238, 0);
    }
    .carrier{
        background-color: red;
    }
  }

  .ship-status {
    display: grid;

    grid-template-columns: repeat(10, minmax(3rem, 1fr));
    grid-template-rows: repeat(5, 50px);
    grid-gap: 10px;

    grid-row: 2;
    width: 100%;
    height: 200px;

    .destroyer{
        grid-column: 1/3;
        grid-row:1;
        height: 50px;
    }

    .cruiser{
        grid-column: 4/7;
        grid-row:2;
        height: 50px;
        background-color: rgb(236, 221, 221);
    }
    .submarine{
        grid-column: 7/10;
        grid-row:3;
        height: 50px;
        background-color: rgb(255, 238, 0);
    }
 .battleship{
        grid-column: 7/11;
        grid-row:1;
        height: 50px;
        background-color: rgb(255, 0, 255);
    }
  }
 .carrier{
        grid-column: 1/6;
        grid-row:4;
        height: 50px;
        background-color: red;
  }
  

}
