      <h2 class="myclass"> Ships</h2>
  <div class="ships">
   
      <div class="ships-area">

      <div class="row" *ngFor="let data of grids; let i = index">
            <div class="column" *ngFor="let cell of data; let j=index" >
                <div  [ngClass]="GetClassDetails(i,j)" (click)="onCellClick(j,i)">

                {{rows[j]}}{{i+1}}
                </div>
            </div>
      </div>

      </div>
      <div class="ship-status">
        <!-- 
            destroyer = 2 
            cruiser = 3
            sub =3
            batt = 4
            carrier =5

        -->
        <button mat-raised-button color="primary"  class="destroyer" [disabled]="isDestroyerDisabled"  (click)="onDestroyerClick()">Destroyer</button>
        <button mat-raised-button color="primary"   class="cruiser" [disabled]="isCruiserDisabled"  (click)="onCruiserClick()">Cruiser</button>
        <button mat-raised-button color="primary" class="submarine"  [disabled]="isSubmarineDisabled" (click)="onSubmarineClick()">Submarine</button>
        <button mat-raised-button color="primary" class="carrier"   [disabled]="isCarrierDisabled" (click)="onCarrierClick()">Carrier</button>
        <button mat-raised-button  color="primary"  class="battleship" [disabled]="isBattleshipDisabled" (click)="onBattleshipClick()">Battleship</button>

      </div>

  </div>
  