
      <h2> Targets</h2>
<div class="targets">
    <!--  

    <div class="column-labels">
        <div *ngFor="let col of columns">
         {{col}}
         </div>
     </div>
       <div class="row-labels">
 
       <div *ngFor="let row of rows">
           {{row}}
       </div>
       </div>
 
    -->  
       <div class="targets-area">
 
       <div class="row" *ngFor="let data of grids; let i = index">
             <div class="column" *ngFor="let cell of data; let j=index">
                 {{rows[j]}}{{i+1}}
             </div>
       </div>
       </div>

</div>